@import "tailwindcss";

@theme {
  /* Palet Warna Biskuit NomNom Nexus */
  --color-biscuit-light: #FDF5E6; /* Warna krem susu/vanilla */
  --color-biscuit: #F5DEB3;       /* Warna utama biskuit */
  --color-biscuit-dark: #D2B48C;  /* Warna biskuit panggang */
  --color-biscuit-choco: #8B4513; /* Warna cokelat/choco chip untuk teks */
}

/* Pengaturan dasar agar background dan text otomatis menyesuaikan */
@layer base {
  body {
    @apply bg-biscuit-light text-biscuit-choco font-sans;
  }
}